<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Review</title>
    </head>
    <body>
        <h1>Edit Review</h1>
        <form action="/reviews/<%= review._id %>?_method=PATCH" method="POST">
        <label for="rating">Rating:</label>
        <input type="number" name="rating" id="rating" value="<%= review.rating %>" required min="0" max="5">
        <br>
        <label for="comment">Comment:</label>
        <textarea name="comment" id="comment" rows="5" required><%= review.comment %></textarea>
        <br>
        <button type="submit">Save Changes</button>
        </form>
    </body>
</html>
