

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="text-center">
        <img src="./images/logo-no-background.svg" class="mb-4" alt="Logo"       width="300"
      height="300">
      <h2>Welcome to Rentry</h2>
    <div class="d-grid gap-2 d-md-flex justify-content-center">
        
        <a class="btn btn-lg btn-block btn-dark w-50 " href="/auth/signup">Sign Up</a>
        <a class="btn btn-lg btn-block btn-outline-dark w-50" href="/auth/login">Login</a>
    </div>
</div>
</div>
