<div class="container my-5">
  <h1 class="text-center mb-4">Welcome, <%=user.username%> !</h1>

  <hr />
  <div class="d-flex align-items-start">
    <span
      class="material-symbols-sharp"
      class="me-3"
      style="font-size: 100px; color: gray"
    >
      account_circle
    </span>
    <div class="vstack gap-2 ms-5 mt-3">
      <p>Username: <%=user.username%></p>
      <p>Email: <%=user.email%></p>
    </div>
  </div>
  <hr />

  <div class="my-5">
    <h4>Your Bookings:</h4>
    <ul>
        <li>
            <!-- add javascript here -->
        </li>
    </ul>
    </div>
  </div>
</div>
<!-- what -->
