/* body {
  padding: 0px;
  margin: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#F0FFFF;
} */

/* .navbar-dark {
  background-color: #33FFDE;
} */

:root {
  --bs-font-sans-serif: 'Rubik', sans-serif
}

/* a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */



html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* added a new class might delete */
.square-box{
  max-width: 600px;
  min-height: 600px;
  border: 1px solid black
}

.card img {
  height: 200px;
  object-fit: cover;
}